bin/
build/
conf/
jars/
lib/
reobf/
temp/
workspace/
options.cfg
RetroMCP-Java-all.jar

!src/minecraft/
src/minecraft/*
!src/minecraft/me
!src/minecraft/*.json
!src/minecraft/*.png

src/minecraft_server/
